.grid-col_1,
.grid-col_2,
.grid-col_3,
.grid-col_4,
.grid-col_5,
.grid-col_6,
.grid-col_7,
.grid-col_8,
.grid-col_9,
.grid-col_10,
.grid-col_11,
.grid-col_12 { width: 100%; }

.grid-col_push1,
.grid-col_push2,
.grid-col_push3,
.grid-col_push4,
.grid-col_push5,
.grid-col_push6,
.grid-col_push7,
.grid-col_push8,
.grid-col_push9,
.grid-col_push10,
.grid-col_push11,
.grid-col_push12 { left: 100%; }

.grid-col_pull1,
.grid-col_pull2,
.grid-col_pull3,
.grid-col_pull4,
.grid-col_pull5,
.grid-col_pull6,
.grid-col_pull7,
.grid-col_pull8,
.grid-col_pull9,
.grid-col_pull10,
.grid-col_pull11,
.grid-col_pull12 { left: -100%; }

.grid-col_prefix1,
.grid-col_prefix2,
.grid-col_prefix3,
.grid-col_prefix4,
.grid-col_prefix5,
.grid-col_prefix6,
.grid-col_prefix7,
.grid-col_prefix8,
.grid-col_prefix9,
.grid-col_prefix10,
.grid-col_prefix11,
.grid-col_prefix12 { margin-left: 100%; }

.grid-col_suffix1,
.grid-col_suffix2,
.grid-col_suffix3,
.grid-col_suffix4,
.grid-col_suffix5,
.grid-col_suffix6,
.grid-col_suffix7,
.grid-col_suffix8,
.grid-col_suffix9,
.grid-col_suffix10,
.grid-col_suffix11,
.grid-col_suffix12 { margin-right: 100%; }